@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            @if (isAuthenticated && !string.IsNullOrEmpty(userName))
            {
                @userName
            }
            else
            {
                @:Catinder
            }
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>

        @if (isAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/cats">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Liste des chats
                </NavLink>
            </div>

            @if (!isAdmin)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/favorites">
                        <span class="oi oi-star" aria-hidden="true"></span> Favoris
                    </NavLink>
                </div>
            }

            @if (isAdmin)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/add-cat">
                        <span class="oi oi-plus" aria-hidden="true"></span> Ajouter un chat
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/adoption-application">
                        <span class="oi oi-envelope-closed" aria-hidden="true"></span> Demandes d'adoptions
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isAuthenticated;
    private bool isAdmin;
    private string userName = "";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        userName = isAuthenticated ? user.Identity.Name : "";
        isAdmin = user.IsInRole("administrateur");
    }
}
