@page "/add-cat"
@attribute [Authorize(Roles = "administrateur")]
<link href="css/catList.css" rel="stylesheet" />
<h3>Ajouter un nouveau chat</h3>

<AddCatForm OnCatAdded="HandleCatAdded" />

@code {
    private async Task HandleCatAdded()
    {
        await Task.CompletedTask;
    }
}